absl-py==0.15.0
akshare==1.2.68
ale-py==0.7.3
attrs==19.3.0
baostock==0.8.8
beautifulsoup4==4.10.0
bidict==0.18.4
bs4==0.0.1
cachetools==4.2.4
certifi==2021.5.30
charset-normalizer==2.0.6
cloudpickle==2.0.0
cycler==0.10.0
decorator==5.1.0
easydict==1.9
et-xmlfile==1.1.0
FrEIA==0.2
funcy==1.17
google-auth==2.3.3
google-auth-oauthlib==0.4.6
googledrivedownloader==0.4
grpcio==1.41.1
gym==0.19.0
html5lib==1.1
idna==3.2
igraph==0.9.8
importlib-resources==5.4.0
isodate==0.6.0
Jinja2==3.0.1
joblib==1.0.1
jsonpath==0.82
kiwisolver==1.3.2
kmeans-pytorch==0.3
loguru==0.5.3
lxml==4.6.4
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
mpl-finance==0.10.1
networkx==2.6.3
numpy==1.21.2
oauthlib==3.1.1
opencv-python==4.5.3.56
openpyxl==3.0.9
pandas==1.3.3
parsimonious==0.8.1
Pillow==8.3.2
progress==1.6
progressbar==2.5
protobuf==3.19.1
py-aiger==4.3.0
py-aiger-cnf==3.0.0
py-aiger-sat==1.1.0
py-mini-racer==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygcn==0.1
pyglet==1.5.21
pyparsing==2.4.7
pypinyin==0.44.0
pyrsistent==0.15.7
python-dateutil==2.8.2
python-louvain==0.15
python-sat==0.1.7.dev15
pytz==2021.1
PyYAML==5.4.1
rdflib==6.0.1
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.7.1
simplejson==3.17.6
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.3.1
stable-baselines3==1.3.0
tabulate==0.8.9
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
texttable==1.6.4
threadpoolctl==2.2.0
toposort==1.7
torch==1.9.1
torch-cluster==1.5.9
torch-geometric==2.0.2
torch-scatter==2.0.8
torch-sparse==0.6.12
torch-spline-conv==1.2.1
torch-tb-profiler==0.3.1
torchaudio==0.9.1
torchvision==0.10.1
tqdm==4.62.3
typing-extensions==3.10.0.2
urllib3==1.26.6
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.0.2
xlrd==2.0.1
yacs==0.1.8
zipp==3.6.0
